body {
  font-size: var(--fs--regular);
  font-family: var(--ff--primary);
  color: var(--clr--grayish-blue);
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
